@font-face {
  font-family: "Shabnam";
  src: url("../../../../../public/fonts/Shabnam/Shabnam.eot");
  src: url("../../../../../public/fonts/Shabnam/Shabnam.eot?#iefix")
      format("embedded-opentype"),
    url("../../../../../public/fonts/Shabnam/Shabnam.woff2") format("woff2"),
    url("../../../../../public/fonts/Shabnam/Shabnam.woff") format("woff"),
    url("../../../../../public/fonts/Shabnam/Shabnam.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src: url("../../../../../public/fonts/Shabnam/Shabnam-Bold.eot");
  src: url("../../../../../public/fonts/Shabnam/Shabnam-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../../../../public/fonts/Shabnam/Shabnam-Bold.woff2")
      format("woff2"),
    url("../../../../../public/fonts/Shabnam/Shabnam-Bold.woff") format("woff"),
    url("../../../../../public/fonts/Shabnam/Shabnam-Bold.ttf")
      format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src: url("../../../../../public/fonts/Shabnam/Shabnam-Bold_1.eot");
  src: url("../../../../../public/fonts/Shabnam/Shabnam-Bold_1.eot?#iefix")
      format("embedded-opentype"),
    url("../../../../../public/fonts/Shabnam/Shabnam-Bold_1.woff2")
      format("woff2"),
    url("../../../../../public/fonts/Shabnam/Shabnam-Bold_1.woff")
      format("woff"),
    url("../../../../../public/fonts/Shabnam/Shabnam-Bold_1.ttf")
      format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src: url("../../../../../public/fonts/Shabnam/Shabnam-Light.eot");
  src: url("../../../../../public/fonts/Shabnam/Shabnam-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../../../../../public/fonts/Shabnam/Shabnam-Light.woff2")
      format("woff2"),
    url("../../../../../public/fonts/Shabnam/Shabnam-Light.woff") format("woff"),
    url("../../../../../public/fonts/Shabnam/Shabnam-Light.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src: url("../../../../../public/fonts/Shabnam/Shabnam_1.eot");
  src: url("../../../../../public/fonts/Shabnam/Shabnam_1.eot?#iefix")
      format("embedded-opentype"),
    url("../../../../../public/fonts/Shabnam/Shabnam_1.woff2") format("woff2"),
    url("../../../../../public/fonts/Shabnam/Shabnam_1.woff") format("woff"),
    url("../../../../../public/fonts/Shabnam/Shabnam_1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src: url("../../../../../public/fonts/Shabnam/Shabnam-Light_1.eot");
  src: url("../../../../../public/fonts/Shabnam/Shabnam-Light_1.eot?#iefix")
      format("embedded-opentype"),
    url("../../../../../public/fonts/Shabnam/Shabnam-Light_1.woff2")
      format("woff2"),
    url("../../../../../public/fonts/Shabnam/Shabnam-Light_1.woff")
      format("woff"),
    url("../../../../../public/fonts/Shabnam/Shabnam-Light_1.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src: url("../../../../../public/fonts/Shabnam/Shabnam-Light_2.eot");
  src: url("../../../../../public/fonts/Shabnam/Shabnam-Light_2.eot?#iefix")
      format("embedded-opentype"),
    url("../../../../../public/fonts/Shabnam/Shabnam-Light_2.woff2")
      format("woff2"),
    url("../../../../../public/fonts/Shabnam/Shabnam-Light_2.woff")
      format("woff"),
    url("../../../../../public/fonts/Shabnam/Shabnam-Light_2.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src: url("../../../../../public/fonts/Shabnam/Shabnam-Bold_2.eot");
  src: url("../../../../../public/fonts/Shabnam/Shabnam-Bold_2.eot?#iefix")
      format("embedded-opentype"),
    url("../../../../../public/fonts/Shabnam/Shabnam-Bold_2.woff2")
      format("woff2"),
    url("../../../../../public/fonts/Shabnam/Shabnam-Bold_2.woff")
      format("woff"),
    url("../../../../../public/fonts/Shabnam/Shabnam-Bold_2.ttf")
      format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src: url("../../../../../public/fonts/Shabnam/Shabnam_2.eot");
  src: url("../../../../../public/fonts/Shabnam/Shabnam_2.eot?#iefix")
      format("embedded-opentype"),
    url("../../../../../public/fonts/Shabnam/Shabnam_2.woff2") format("woff2"),
    url("../../../../../public/fonts/Shabnam/Shabnam_2.woff") format("woff"),
    url("../../../../../public/fonts/Shabnam/Shabnam_2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
